<html>

<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
</head>

<body>
    <h1>Registration Page</h1>
    <div class="rcorners2">
        <form name="login">
            Firstname :
            <input type="text" name="username" />
            <br>
            <br> Lastname :
            <input type="text" name="password" />
            <br>
            <br>
            Username :
            <input type="text" name="username" />
            <br>
            <br> Password :
            <input type="password" name="password" />
            <br>
            <br>
            <input type="submit" value="Login" />
            <input type="reset" value="Cancel" /> &nbsp;&nbsp;&nbsp;&nbsp;<a href=".">back</a>
        </form>
    </div>
</body>

</html>
